
/* Style global */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    background-color: #f9f9f9; /* Couleur de fond pour un look plus propre */
}

/* Menu latéral */
.sidebar {
    background-color: #2c3e50; /* Couleur sombre pour le menu */
    color: white;
    padding: 20px;
    width: 250px;
    height: 100vh;
    position: fixed;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5rem; /* Réduction de la taille pour éviter le texte trop grand */
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav ul li {
    margin-bottom: 20px;
}

.sidebar nav ul li a {
    color: #3498db;
    text-decoration: none;
    font-size: 1.2rem;
}

.sidebar nav ul li a:hover {
    color: white;
}

/* Contenu principal */
.main-content {
    margin-left: 270px; /* Ajuste pour laisser de l'espace au menu */
    padding: 40px;
    flex: 1;
}

/* Style pour l'introduction */
.intro-section h1 {
    font-size: 2rem;
    color: #2c3e50; /* Titre avec un peu plus de contraste */
    margin-bottom: 20px;
    text-align: left;
}

.intro-section p,
.intro-section ul {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #333;
}

.intro-section h3 {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #004080;
}

/* Adaptation mobile */
@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
        padding: 20px;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: static;
    }
}
