body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    font-size: 18px; /* Taille de police de base augmentée */
    line-height: 1.8; /* Meilleur espacement entre les lignes */
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #4a4a8e;
    padding: 12px 20px; /* Augmentation de l'espacement autour des liens */
    font-size: 1.1rem; /* Augmentation de la taille des liens */
}

h1 {
    font-size: 3rem; /* Agrandissement du titre principal */
    margin: 0;
    color: #4a4a8e;
}

.intro-section h2 {
    font-size: 2.2rem; /* Taille plus grande pour le titre de la section */
    color: #004080;
}

.intro-section p {
    font-size: 1.5rem; /* Taille plus grande pour la description */
    color: #666;
}

.profile-info h3 {
    font-size: 1.8rem; /* Taille plus grande pour les sous-titres */
    color: #4a4a8e;
}

.profile-info p {
    font-size: 1.3rem; /* Taille plus grande pour le texte descriptif */
    line-height: 1.8; /* Espacement amélioré entre les lignes */
}

a {
    color: #4a4a8e;
    text-decoration: none;
    font-size: 1.2rem; /* Taille plus grande pour les liens */
}

a:hover {
    text-decoration: underline;
}

/* Adaptation mobile */
@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        text-align: center;
    }

.profile-photo img {
    width: 250px;       /* Largeur de l'image */
    height: 350px;      /* Hauteur de l'image pour un effet ovale */
    border-radius: 50%; /* Cela permet de créer l'effet arrondi */
    object-fit: cover;  /* Garde l'image bien ajustée dans le conteneur */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre pour un meilleur effet visuel */
}

}
